html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
label,
table,
tr,
td,
th,
input,
button,
textarea,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}


ul,
ol {
  list-style: none;
}


a {
  text-decoration: none;
  color: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


button {
  background: transparent;
  border: none;
  cursor: pointer;
}


/* input, */
/* button, */
textarea,
select {
  appearance: none;
  outline: none;
  border-radius: 0;
}


a:focus {
  outline: none;
}


img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* Hide the default scrollbar in WebKit-based browsers */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

/* Style the scrollbar in Firefox */
/* Note: Firefox currently supports scrollbar-width property as of version 64 */
body {
  scrollbar-width: thin;
  /* For Firefox */
}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}